.flash-card {
    font-size: 24px;
    line-height: 1.5;
    width: 30vw;
    height: 55vh; 
    border: 1px solid var(--primary); 
    border-radius: 10px;
    background-color: var(--primary);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.flash-card-header {
    height: 10vh;
    background-color: var(--black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash-card-content {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    text-align: center;
    overflow-y: auto;
    word-wrap: break-word;
}
