* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --primary: #68A678;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5;
    --grayDark: #141414;
    --white: #FFFFFF;
    --frontEnd: #4b7656;
    --backEnd: #cfead6;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
  } 
  
  
  #root{
    min-height: calc(100vh - var(--bodyPaddingTop));
    display:flex;
    flex-direction: column;
  }